:root {
    text-align: center;
    font-family: "Goudy Bookletter 1911",Times,serif;
    line-height: 1.5;
    font-size: 16px;
	--bg-color: #EAEAEA;
	--color: #1A1A1A;
  --header:#9D9D9D;
  --row1:white;
  --row2:#BBBBBB;
	color: var(--color);
	background-color: var(--bg-color);
}
[data-darkmode] {
	--bg-color: #1A1A1A;
	--color: #EAEAEA;
  --header:#000000;
  --row1:#323232;
  --row2:#626262;
}

h1, h2, h3 {
	margin:-3px auto;
}
h1 {
  font-size: 40px;
}
h2{
  font-size: 30px;
}
h3{
  font-size: 20px;
}
a {
  color: var(--color);
  white-space: nowrap;
  text-decoration: underline;
}
input:hover, a:hover {
  color: red;
}
input:active, a:active {
  color: darkred;
  text-decoration: underline overline;
}
input {
  color: var(--color);
  text-decoration: underline;
  background: transparent;
  cursor: pointer;
  font-weight: bold;
  font-size: 20px;
  border: none;
  font-family: "Goudy Bookletter 1911",Times,serif;
}

table {
	margin-left: auto;
	margin-right: auto;
}
div.container {
	display: flex;
	align-items: center;
	justify-content: center;
}

div.textbox {
	text-align: left;
	width: 650px;
	outline-color: grey;
	outline-style: solid;
	padding: 5px;
	overflow-wrap: break-word;
}
.darkred {
	border-color: darkred;
	background-color: darkred;
	margin-top: -4px;
	font-size: 110%;
	color: #EAEAEA;
}