header {
    text-align: center;
    display: block;
}

body {
    background-color: #1A1A1A;
    text-align: center;
    margin: 0 auto;
    font-family: "Goudy Bookletter 1911",Times,serif;
    font-size: 16px;
    color: #EAEAEA;
    line-height: 1.5;
}

a {
    white-space: nowrap;
	text-decoration: underline;
}
a:link, a:visited {
  color: white;
}
a:hover {
  color: red;
}
a:active {
  color: darkred;
  text-decoration: underline overline;
}

input {
  background: transparent;
  color: white;
  cursor: pointer;
  font-weight: bold;
  text-decoration: underline;
  font-size: 20px;
  border: none;
  font-family: "Goudy Bookletter 1911",Times,serif;
}

table {
	margin-left: auto;
	margin-right: auto;
}