header {
    text-align: center;
    display: block;
}

body {
    background-color: #1A1A1A;
    text-align: center;
    margin: 0 auto;
    font-family: "Goudy Bookletter 1911",Times,serif;
    font-size: 16px;
    color: #EAEAEA;
    line-height: 1.5;
}

h1, h2, h3 {
	margin:-3px;
}

h1 {
  font-size: 40px;
}
h2{
  font-size: 30px;
}
h3{
  font-size: 20px;
}

a {
  color: white;
  white-space: nowrap;
	text-decoration: underline;
}
input:hover, a:hover {
  color: red;
}
input:active, a:active {
  color: darkred;
  text-decoration: underline overline;
}

input {
  color: white;
  text-decoration: underline;
  background: transparent;
  cursor: pointer;
  font-weight: bold;
  font-size: 20px;
  border: none;
  font-family: "Goudy Bookletter 1911",Times,serif;
}

table {
	margin-left: auto;
	margin-right: auto;
}